# Exercise 6-2: Clean the Cars data

## Read the data

In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv('cars.csv')

In [3]:
# display the first 5 rows
print(cars.head())

   car_ID  symboling                   CarName fueltype aspiration doornumber  \
0       1          3        alfa-romero giulia      gas        std        two
1       2          3       alfa-romero stelvio      gas        std        two
2       3          1  alfa-romero Quadrifoglio      gas        std        two
3       4          2               audi 100 ls      gas        std       four
4       5          2                audi 100ls      gas        std       four

       carbody drivewheel enginelocation  wheelbase  ...  enginesize  \
0  convertible        rwd          front       88.6  ...         130
1  convertible        rwd          front       88.6  ...         130
2    hatchback        rwd          front       94.5  ...         152
3        sedan        fwd          front       99.8  ...         109
4        sedan        4wd          front       99.4  ...         136

   fuelsystem  boreratio  stroke compressionratio horsepower  peakrpm citympg  \
0        mpfi       3.47    2.68              9.0        111     5000      21
1        mpfi       3.47    2.68              9.0        111     5000      21
2        mpfi       2.68    3.47              9.0        154     5000      19
3        mpfi       3.19    3.40             10.0        102     5500      24
4        mpfi       3.19    3.40              8.0        115     5500      18

   highwaympg    price
0          27  13495.0
1          27  16500.0
2          26  16500.0
3          30  13950.0
4          22  17450.0

[5 rows x 26 columns]

## Examine the data

In [4]:
# info()
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
# value_counts()
print(cars['fueltype'].value_counts())

fueltype
gas       185
diesel     20
Name: count, dtype: int64

In [6]:
# unique
print(cars['CarName'].unique())

['alfa-romero giulia' 'alfa-romero stelvio' 'alfa-romero Quadrifoglio'
 'audi 100 ls' 'audi 100ls' 'audi fox' 'audi 5000' 'audi 4000'
 'audi 5000s (diesel)' 'bmw 320i' 'bmw x1' 'bmw x3' 'bmw z4' 'bmw x4'
 'bmw x5' 'chevrolet impala' 'chevrolet monte carlo' 'chevrolet vega 2300'
 'dodge rampage' 'dodge challenger se' 'dodge d200' 'dodge monaco (sw)'
 'dodge colt hardtop' 'dodge colt (sw)' 'dodge coronet custom'
 'dodge dart custom' 'dodge coronet custom (sw)' 'honda civic'
 'honda civic cvcc' 'honda accord cvcc' 'honda accord lx'
 'honda civic 1500 gl' 'honda accord' 'honda civic 1300' 'honda prelude'
 'honda civic (auto)' 'isuzu MU-X' 'isuzu D-Max ' 'isuzu D-Max V-Cross'
 'jaguar xj' 'jaguar xf' 'jaguar xk' 'maxda rx3' 'maxda glc deluxe'
 'mazda rx2 coupe' 'mazda rx-4' 'mazda glc deluxe' 'mazda 626' 'mazda glc'
 'mazda rx-7 gs' 'mazda glc 4' 'mazda glc custom l' 'mazda glc custom'
 'buick electra 225 custom' 'buick century luxus (sw)' 'buick century'
 'buick skyhawk' 'buick opel isuzu deluxe' 'buick skylark'
 'buick century special' 'buick regal sport coupe (turbo)'
 'mercury cougar' 'mitsubishi mirage' 'mitsubishi lancer'
 'mitsubishi outlander' 'mitsubishi g4' 'mitsubishi mirage g4'
 'mitsubishi montero' 'mitsubishi pajero' 'Nissan versa' 'nissan gt-r'
 'nissan rogue' 'nissan latio' 'nissan titan' 'nissan leaf' 'nissan juke'
 'nissan note' 'nissan clipper' 'nissan nv200' 'nissan dayz' 'nissan fuga'
 'nissan otti' 'nissan teana' 'nissan kicks' 'peugeot 504' 'peugeot 304'
 'peugeot 504 (sw)' 'peugeot 604sl' 'peugeot 505s turbo diesel'
 'plymouth fury iii' 'plymouth cricket' 'plymouth satellite custom (sw)'
 'plymouth fury gran sedan' 'plymouth valiant' 'plymouth duster'
 'porsche macan' 'porcshce panamera' 'porsche cayenne' 'porsche boxter'
 'renault 12tl' 'renault 5 gtl' 'saab 99e' 'saab 99le' 'saab 99gle'
 'subaru' 'subaru dl' 'subaru brz' 'subaru baja' 'subaru r1' 'subaru r2'
 'subaru trezia' 'subaru tribeca' 'toyota corona mark ii' 'toyota corona'
 'toyota corolla 1200' 'toyota corona hardtop' 'toyota corolla 1600 (sw)'
 'toyota carina' 'toyota mark ii' 'toyota corolla'
 'toyota corolla liftback' 'toyota celica gt liftback'
 'toyota corolla tercel' 'toyota corona liftback' 'toyota starlet'
 'toyota tercel' 'toyota cressida' 'toyota celica gt' 'toyouta tercel'
 'vokswagen rabbit' 'volkswagen 1131 deluxe sedan' 'volkswagen model 111'
 'volkswagen type 3' 'volkswagen 411 (sw)' 'volkswagen super beetle'
 'volkswagen dasher' 'vw dasher' 'vw rabbit' 'volkswagen rabbit'
 'volkswagen rabbit custom' 'volvo 145e (sw)' 'volvo 144ea' 'volvo 244dl'
 'volvo 245' 'volvo 264gl' 'volvo diesel' 'volvo 246']

## Fix spelling and capitalization problems in the data

In [7]:
cars['brand'] = cars.apply(lambda x: x.CarName.split(' ')[0], axis=1)
cars['name'] = cars.apply(lambda x: ' '.join(x.CarName.split(' ')[1:]), axis=1)

In [8]:
# display each unique value in the brand column
print(cars['brand'].unique())

['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'maxda' 'mazda' 'buick' 'mercury' 'mitsubishi' 'Nissan' 'nissan'
 'peugeot' 'plymouth' 'porsche' 'porcshce' 'renault' 'saab' 'subaru'
 'toyota' 'toyouta' 'vokswagen' 'volkswagen' 'vw' 'volvo']

In [14]:
# fix any misspellings or inconsistent capitalization in the brand names
replacement_map = {
    'toyouta': 'Toyota', 'Toyouta': 'Toyota',
    'mercedes': 'Mercedes-Benz', 'mercedes-benz': 'Mercedes-Benz', 'Mercedes-Benz': 'Mercedes-Benz',
    'chevroelt': 'Chevrolet', 'chevrolet': 'Chevrolet',
    'vokswagen': 'Volkswagen', 'volkswagen': 'Volkswagen', 'vw': 'Volkswagen',
    'maxda': 'Mazda', 'mazda': 'Mazda',
    'porcshce': 'Porsche', 'porsche': 'Porsche',
    'toyota': 'Toyota',
    'nissan': 'Nissan',
    'honda': 'Honda'
}
cars['brand'] = cars['brand'].replace(replacement_map)
cars['brand'] = cars['brand'].str.title()

In [15]:
# store the fixed data in the CarName column
cars['CarName'] = cars['brand'] + ' ' + cars['name']

## Rename and drop columns

In [16]:
# rename the CarName and the car_ID columns to brandname and carid
print(cars.head())
cars.rename(columns={'CarName': 'brandname', 'car_ID': 'carid'}, inplace=True)
print(cars.head())

                  brandname fueltype aspiration doornumber      carbody  \
0        Alfa-Romero giulia      gas        std        two  convertible
1       Alfa-Romero stelvio      gas        std        two  convertible
2  Alfa-Romero Quadrifoglio      gas        std        two    hatchback
3               Audi 100 ls      gas        std       four        sedan
4                Audi 100ls      gas        std       four        sedan

  drivewheel enginelocation  wheelbase  carlength  carwidth  ...  stroke  \
0        rwd          front       88.6      168.8      64.1  ...    2.68
1        rwd          front       88.6      168.8      64.1  ...    2.68
2        rwd          front       94.5      171.2      65.5  ...    3.47
3        fwd          front       99.8      176.6      66.2  ...    3.40
4        4wd          front       99.4      176.6      66.4  ...    3.40

   compressionratio horsepower peakrpm  citympg highwaympg    price  \
0               9.0        111    5000       21         27  13495.0
1               9.0        111    5000       21         27  16500.0
2               9.0        154    5000       19         26  16500.0
3              10.0        102    5500       24         30  13950.0
4               8.0        115    5500       18         22  17450.0

         brand          name                   CarName
0  Alfa-Romero        giulia        Alfa-Romero giulia
1  Alfa-Romero       stelvio       Alfa-Romero stelvio
2  Alfa-Romero  Quadrifoglio  Alfa-Romero Quadrifoglio
3         Audi        100 ls               Audi 100 ls
4         Audi         100ls                Audi 100ls

[5 rows x 27 columns]
                  brandname fueltype aspiration doornumber      carbody  \
0        Alfa-Romero giulia      gas        std        two  convertible
1       Alfa-Romero stelvio      gas        std        two  convertible
2  Alfa-Romero Quadrifoglio      gas        std        two    hatchback
3               Audi 100 ls      gas        std       four        sedan
4                Audi 100ls      gas        std       four        sedan

  drivewheel enginelocation  wheelbase  carlength  carwidth  ...  stroke  \
0        rwd          front       88.6      168.8      64.1  ...    2.68
1        rwd          front       88.6      168.8      64.1  ...    2.68
2        rwd          front       94.5      171.2      65.5  ...    3.47
3        fwd          front       99.8      176.6      66.2  ...    3.40
4        4wd          front       99.4      176.6      66.4  ...    3.40

   compressionratio horsepower peakrpm  citympg highwaympg    price  \
0               9.0        111    5000       21         27  13495.0
1               9.0        111    5000       21         27  16500.0
2               9.0        154    5000       19         26  16500.0
3              10.0        102    5500       24         30  13950.0
4               8.0        115    5500       18         22  17450.0

         brand          name                 brandname
0  Alfa-Romero        giulia        Alfa-Romero giulia
1  Alfa-Romero       stelvio       Alfa-Romero stelvio
2  Alfa-Romero  Quadrifoglio  Alfa-Romero Quadrifoglio
3         Audi        100 ls               Audi 100 ls
4         Audi         100ls                Audi 100ls

[5 rows x 27 columns]

In [20]:
# drop the carid and symbol columns
cars.drop(columns=[col for col in ['carid', 'symboling'] if col in cars.columns], inplace=True)

In [13]:
print(cars.head())

                  brandname fueltype aspiration doornumber      carbody  \
0        Alfa-Romero giulia      gas        std        two  convertible
1       Alfa-Romero stelvio      gas        std        two  convertible
2  Alfa-Romero Quadrifoglio      gas        std        two    hatchback
3               Audi 100 ls      gas        std       four        sedan
4                Audi 100ls      gas        std       four        sedan

  drivewheel enginelocation  wheelbase  carlength  carwidth  ...  boreratio  \
0        rwd          front       88.6      168.8      64.1  ...       3.47
1        rwd          front       88.6      168.8      64.1  ...       3.47
2        rwd          front       94.5      171.2      65.5  ...       2.68
3        fwd          front       99.8      176.6      66.2  ...       3.19
4        4wd          front       99.4      176.6      66.4  ...       3.19

   stroke compressionratio horsepower  peakrpm citympg  highwaympg    price  \
0    2.68              9.0        111     5000      21          27  13495.0
1    2.68              9.0        111     5000      21          27  16500.0
2    3.47              9.0        154     5000      19          26  16500.0
3    3.40             10.0        102     5500      24          30  13950.0
4    3.40              8.0        115     5500      18          22  17450.0

         brand          name
0  Alfa-Romero        giulia
1  Alfa-Romero       stelvio
2  Alfa-Romero  Quadrifoglio
3         Audi        100 ls
4         Audi         100ls

[5 rows x 26 columns]